<div class="d-flex flex-column gap-3 mx-5 px-5">
  <app-section-header description="Please provide your name, email address, and phone number."
                      title="Personal info"></app-section-header>
  <div>
    <label class="form-label" for="name">Name</label>
    <input class="form-control" id="name" placeholder="e.g.Stephen King" type="text">
  </div>
  <div>
    <label class="form-label" for="email">Email Address</label>
    <input class="form-control" id="email" placeholder="e.g.stephenking@lorem.com" type="email">
  </div>
  <div>
    <label class="form-label" for="number">Phone Number</label>
    <input class="form-control" id="number" placeholder="e.g.+1 234 567 890" type="email">
  </div>
</div>
<div class="d-flex justify-content-end me-5 pe-5 mt-5">
  <app-button btnClassName="btn-primary" label="Next step"></app-button>
</div>

