<div class="d-flex flex-column gap-3 mx-5 px-5">
  <app-section-header title="Personal info"
                      description="Please provide your name, email address, and phone number."></app-section-header>
  <div class="">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" placeholder="e.g.Stephen King">
  </div>
  <div class="">
    <label for="email" class="form-label">Email Address</label>
    <input type="email" class="form-control" id="email" placeholder="e.g.stephenking@lorem.com">
  </div>
  <div class="">
    <label for="number" class="form-label">Phone Number</label>
    <input type="email" class="form-control" id="number" placeholder="e.g.+1 234 567 890">
  </div>
</div>
<div class="d-flex justify-content-end me-5 pe-5 mt-5">
  <app-button label="Next step" btnClassName="btn-primary"></app-button>
</div>

