@import "colors";

.btn {
  border: none;
  text-transform: capitalize;
}

.btn-primary {
  background-color: $marine_blue;

  &:hover {
    background-color: $blue;
  }
}

.btn-secondary {
  background-color: $purplish_blue;
}

.btn-link {
  background-color: $white;
  color: $cool_gray;
  font-weight: 500;
  text-decoration: none;
  padding: 0 !important;

  &:hover {
    cursor: pointer;
    color: $marine_blue;
  }
}
