@import "colors";

.summary-card {
  background-color: $magnolia;
}

.active-title {
  color: $marine-blue;
  font-weight: 700;
}

.change-link {
  color: $cool_gray;
  font-weight: 500;

  &:hover {
    color: $purplish-blue;
    cursor: pointer;
  }
}

.active-price {
  color: $marine-blue;
  font-weight: 500;
}

.title {
  color: $cool_gray;
}

.price {
  color: $marine-blue;
  font-weight: 500;
}

.total-price {
  color: $purplish-blue;
  font-size: 20px;
  font-weight: 700;
}
